body{
    background: #6709e2;
    color: white;
}
div{
    background: #cc1313;
    width: 100px;
    height: 100px;
}
a{
    color: white;
}
#i {
    color: rgb(0, 255, 106);
}
#s{
  color: rgb(49, 212, 43);  
}
#L{
color: rgb(21, 255, 0);
}
#L span:nth-child(3){
    color: black;
}
#L span:nth-child(5){
color: gold;
}
#L span:nth-child(2){
color: #cc1313;

}
div{
background-color: #cc1313;
width:300px;
height: 60px;
}
#Div{
background-color: #cc1313;
width: 40px;
height: 120px;
}